<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Altura</ion-label>
    <ion-input type="number" [(ngModel)]="altura"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Peso</ion-label>
    <ion-input type="number" [(ngModel)]="peso"></ion-input>
  </ion-item>

  <ion-button (click)="calcular()">Calcular</ion-button>

  <p>Magreza = Menor que 18,5</p>
  <p>Normal = 18,5 a 24,9</p>
  <p>Sobrepeso = 25 a 29,9</p>
  <p>	Obesidade grau I = 30 a 34,9</p>
  <p>	Obesidade grau II = 35 a 39,9</p>
  <p>	Obesidade grau III = Maior que 40</p>

</ion-content>
